#game_container {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.element {
  position: absolute;
  width: 100px;
  height: 100px;
}

.float_speed_1 {
  transition-duration: 3.4s;
}
.float_speed_2 {
  transition-duration: 3s;
}
.float_speed_3 {
  transition-duration: 2.6s;
}
.float_speed_4 {
  transition-duration: 2.2s;
}

.floatDown {
  transform: translateY(80vh);
}

/* @keyframes sink {
  0% {
    transform: translateY(-200px);
  }

  100% {
    transform: translateY(80vh);
  }
} */
