:root {
  /* Farver */
  --color_spillehjoernet_blue: #849bb4;
  --color_danskespil_yellow: #feb913;
  --color_lightest_blue: #d8e2e8;
  --color_purple: #996779;
  --color_darkest_blue: #708499;

  /* Fonte */
  --font_primary: "Roboto Condensed", sans-serif;
  --font_funny: "Londrina Solid", cursive;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color_darkest_blue);
}

/* section1 */
.section1 {
  background-color: var(--color_spillehjoernet_blue);
  display: grid;
  grid-template-columns: 5vw auto 5vw;
  grid-template-rows: auto auto 50vw 27vw auto;
  padding-top: 8vw;
  overflow: hidden;
}

@media only screen and (min-width: 600px) {
  .section1 {
    grid-template-columns: 10vw auto 10vw;
    grid-template-rows: 11vw auto 40vw 17vw auto auto;
    padding-top: 5vw;
    overflow: hidden;
  }
}

.logo {
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
  width: 70vw;
}

.logo img {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .logo {
    grid-column: 1 / span 2;
    width: 35vw;
    margin-left: 5vw;
  }
}

.text1 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  color: var(--color_lightest_blue);
  font-family: var(--font_primary);
  text-align: center;
  font-size: 8vw;
  font-weight: 400;
}

@media only screen and (min-width: 600px) {
  .text1 {
    font-size: 6vw;
    font-weight: 700;
    margin-bottom: 0;
  }
}
.fisk {
  grid-column: 2 / span 1;
  grid-row: 3 / span 2;
  justify-self: end;
  background-image: url(assets/fisk.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 37vw;
  height: 50.6vw;
  z-index: 2;
  margin-right: 12vw;
}

@media only screen and (min-width: 600px) {
  .fisk {
    grid-column: 2 / span 2;
    width: 22vw;
    height: 30vw;
    margin-top: 3vw;
  }
}
.pose {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  background-image: url(assets/skraldepose.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 16vw;
  height: 24vw;
  transform: rotate(15deg);
  opacity: 0.66;
  margin-left: 7vw;
}
@media only screen and (min-width: 600px) {
  .pose {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
    width: 10vw;
    height: 16vw;
    transform: rotate(15deg);
    opacity: 0.5;
    margin-right: 7vw;
    justify-self: end;
  }
}
.start {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
  background-image: url(assets/start.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 40vw;
  height: 15.5vw;
  z-index: 3;
  justify-self: center;
  margin-top: 3vw;
  opacity: 0.8;
}

.start:hover {
  opacity: 1;
}

@media only screen and (min-width: 600px) {
  .start {
    grid-row: 3 / span 1;
    width: 25vw;
    height: 10vw;
    z-index: 3;
    justify-self: center;
    margin-top: 35vw;
  }
}

.tang {
  background-image: url(assets/tang.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.tang1 {
  grid-column: 1 / span 3;
  grid-row: 3 / span 2;
  width: 33vw;
  height: 26vw;
  margin-left: -7vw;
  margin-top: 42vw;
  opacity: 0.9;
  z-index: 3;
}

.tang2 {
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
  opacity: 0.9;
  z-index: 1;
  width: 20vw;
  height: 14.5vw;
  justify-self: end;
  margin-right: -5vw;
  margin-top: 37vw;
  transform: scaleX(-1);
}
.tang3 {
  display: none;
}

@media only screen and (min-width: 600px) {
  .tang1 {
    grid-column: 2 / span 1;
    grid-row: 3 / span 2;
    width: 13vw;
    height: 26vw;
    margin: 0;
    margin-top: 37vw;
    margin-left: 3vw;
    opacity: 0.8;
  }
  .tang2 {
    grid-row: 3 / span 1;
    opacity: 0.75;
    width: 10vw;
    height: 14.5vw;
    margin: 0;
    margin-top: 33.5vw;
    justify-self: end;
  }
  .tang3 {
    display: block;
    transform: scaleX(-1);
    width: 16vw;
    height: 13vw;
    z-index: 3;
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
    align-self: end;
  }
}
.havbund {
  grid-column: 1 / span 3;
  grid-row: 4 / span 1;
  background-image: url(assets/havbund.svg);
  background-size: 100%;
  width: 100vw;
  height: 27vw;
  opacity: 0.85;
}

@media only screen and (min-width: 600px) {
  .havbund {
    grid-column: 1 / span 3;
    grid-row: 4 / span 1;
    height: 17vw;
  }
}
.purple_box {
  grid-column: 1 / span 3;
  grid-row: 5 / span 1;
  width: 100vw;
  background-color: var(--color_purple);
}
@media only screen and (min-width: 600px) {
  .purple_box {
    grid-row: 3 / span 1;
    width: 50vw;
    height: 17vw;
    margin-top: 10vw;
  }
}
.text2 {
  margin: 5vw;
  color: white;
  font-family: var(--font_primary);
  text-align: center;
  font-size: 7vw;
}
@media only screen and (min-width: 600px) {
  .text2 {
    margin: 3vw 0;
    margin-left: 10vw;
    text-align: left;
    font-size: 3vw;
    width: 36vw;
  }
}
.container {
  display: none;
}

.fat_yellow {
  color: var(--color_danskespil_yellow);
  font-weight: 700;
}
.italic {
  font-style: italic;
}

/* /section1 */
/* section2 */
.section2 {
  background-color: var(--color_darkest_blue);
  display: grid;
  grid-template-columns: 5vw auto 5vw;
  grid-template-rows: auto auto auto auto auto;
}
@media only screen and (min-width: 600px) {
  .section2 {
    grid-template-columns: 10vw 38vw 4vw 38vw 10vw;
    grid-template-rows: auto auto;
  }
}
.text3 {
  color: white;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  font-family: var(--font_primary);
  font-weight: 300;
  font-size: 5.7vw;
}
@media only screen and (min-width: 600px) {
  .text3 {
    grid-column: 2 / span 3;
    font-size: 2.8vw;
    margin: 4vw 0;
  }
}
.streg {
  grid-column: 2 / span 1;
  width: 100%;
  height: 0.3vw;
  background-color: var(--color_lightest_blue);
}

.streg1 {
  grid-row: 2 / span 1;
}

@media only screen and (min-width: 600px) {
  .streg1 {
    transform: rotate(90deg);
    transform-origin: center left;
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;
    width: 20vw;
  }
}
.donation {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  text-align: center;
  color: var(--color_danskespil_yellow);
  font-family: var(--font_primary);
  font-weight: 300;
  font-size: 6vw;
}

.donation_text1 {
  margin-bottom: 0;
}
.donation_text2 {
  margin-top: 0;
}
.big {
  font-size: 20vw;
}
@media only screen and (min-width: 600px) {
  .donation {
    grid-row: 2 / span 1;
    font-weight: 300;
    font-size: 3.5vw;
    margin-top: 3vw;
  }
  .donation_text1 {
    margin-top: 0;
  }
  .big {
    font-size: 7vw;
  }
}
.streg2 {
  grid-row: 4 / span 1;
}
@media only screen and (min-width: 600px) {
  .streg2 {
    display: none;
  }
}
.text4 {
  grid-column: 2 / span 1;
  grid-row: 5 / span 1;
  color: white;
  font-family: var(--font_primary);
  width: 71vw;
  font-size: 5.7vw;
  font-weight: 300;
}
@media only screen and (min-width: 600px) {
  .text4 {
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
    width: 100%;
    font-size: 2.8vw;
    margin-top: 3vw;
  }
}
.fat {
  font-weight: 700;
}
/* /section2 */
