:root {
  /* Farver */
  --color_spillehjoernet_blue: #849bb4;
  --color_danskespil_yellow: #feb913;
  --color_lightest_blue: #d8e2e8;
  --color_purple: #996779;
  --color_darkest_blue: #708499;

  /* Fonte */
  --font_primary: "Roboto Condensed", sans-serif;
  --font_funny: "Londrina Solid", cursive;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color_spillehjoernet_blue);
  font-family: var(--font_primary);
}
@media only screen and (min-width: 1200px) {
  body {
    background-color: var(--color_lightest_blue);
  }
}

/* section1 */
.section1 {
  /* background-color: var(--color_spillehjoernet_blue); */
  background-image: linear-gradient(var(--color_spillehjoernet_blue), #324c68);
  display: grid;
  grid-template-columns: 5vw auto 5vw;
  grid-template-rows: auto auto 50vw 27vw auto;
  overflow: hidden;
  max-width: 1350px;
  margin: 0 auto;
}

@media only screen and (min-width: 600px) {
  .section1 {
    grid-template-columns: 10vw auto 10vw;
    grid-template-rows: 11vw auto 40vw 17vw auto auto;

    overflow: hidden;
  }
}
@media only screen and (min-width: 1010px) {
  .section1 {
    grid-template-columns: 5vw auto 375px 5vw;
    grid-template-rows: auto auto auto auto auto auto;
  }
}

@media only screen and (min-width: 1200px) {
  .section1 {
    padding-top: 27px;
    grid-template-columns: 5vw 40.5px auto 375px 5vw;
    grid-template-rows: auto auto auto auto auto 228px;
  }
}
@media only screen and (min-width: 1350px) {
  .section1 {
    grid-template-rows: auto auto 194px 150px 130px 228px;
  }
}

@media only screen and (min-width: 1200px) {
  .fill {
    width: 3vw;
    height: 100%;
    /* background-color: red; */
    grid-column: 2 / span 1;
    grid-row: 1 / span 6;
    max-width: 40.5px;
  }
}
.logo {
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
  width: 70vw;
  /* max-width: 270px; */
  z-index: 1;
  padding-top: 8vw;
}

.logo img {
  width: 100%;
  max-width: 266px;
}
.logo_text {
  display: none;
  /* max-height: 18px; */
  /* width: auto; */
  /* max-width: 200px; */
}

@media only screen and (min-width: 600px) {
  .logo {
    grid-column: 1 / span 2;
    width: 35vw;
    margin-left: 5vw;
    padding-top: 5vw;
  }
}
@media only screen and (min-width: 1010px) {
  .logo {
    grid-column: 2 / span 1;
    width: 30vw;
    margin-left: 0;
    padding-top: 3vw;
  }
  .logo_text {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    display: block;
    font-style: italic;
    font-weight: 300;
    color: white;
    margin-left: 4.5vw;
  }
}
@media only screen and (min-width: 1200px) {
  .logo {
    width: 20vw;
    grid-column: 2 / span 3;
  }
  .logo_text {
    margin-left: 0vw;
    font-size: 1.1vw;
    grid-column: 3 / span 1;
  }
}
@media only screen and (min-width: 1350px) {
  .logo_text {
    font-size: 15px;
  }
}
.text1 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  color: white;
  font-family: var(--font_primary);
  text-align: center;
  font-size: 8vw;
  font-weight: 400;
  width: auto;
  z-index: 1;
}

@media only screen and (min-width: 600px) {
  .text1 {
    font-size: 6vw;
    font-weight: 700;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1010px) {
  .text1 {
    grid-row: 3 / span 1;
    font-size: 4vw;
    font-weight: 700;
    margin-bottom: 0;
    text-align: left;
    margin-left: 4.5vw;
    margin-top: 9vw;
  }
}

@media only screen and (min-width: 1200px) {
  .text1 {
    font-size: 60px;
    margin-left: 0vw;
    margin-top: 50px;
    grid-column: 3 / span 1;
    /* max-width: 500px; */
    /* max-height: 94px; */
  }
}
.fisk {
  grid-column: 2 / span 1;
  grid-row: 3 / span 2;
  justify-self: end;
  /* background-image: url(static/fisk.svg);
  background-size: 100%; */
  background-image: url(static/fish_spritesheet_gul_ny.png);
  background-size: 400% 200%;
  /* background-repeat: no-repeat; */
  width: 53vw;
  height: 53vw;
  z-index: 2;
  animation-name: fisk_move;
  animation-duration: 1.5s;
  animation-timing-function: steps(4);
  animation-iteration-count: infinite;
  margin-top: -5vw;
}

@media only screen and (min-width: 600px) {
  .fisk {
    grid-column: 2 / span 2;
    width: 30vw;
    height: 30vw;
    margin-top: 3vw;
    margin-right: 10vw;
  }
}
@media only screen and (min-width: 1010px) {
  .fisk {
    display: none;
  }
}

@keyframes fisk_move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 400% 0%;
  }
}
.pose {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  background-image: url(static/skraldepose.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 16vw;
  height: 24vw;
  transform: rotate(15deg);
  opacity: 0.66;
  margin-left: 7vw;
  max-width: 150px;
  animation-name: pose_move;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  z-index: 0;
  animation-timing-function: ease-out;
}

@media only screen and (min-width: 600px) {
  .pose {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    width: 10vw;
    height: 16vw;
    transform: rotate(15deg);
    opacity: 0.5;
    margin-right: -3vw;
    justify-self: end;
  }
}
@media only screen and (min-width: 1010px) {
  .pose {
    grid-column: 2 / span 1;
    grid-row: 1 / span 3;
    width: 9vw;
    height: 16vw;
    transform: rotate(30deg);
    opacity: 0.5;
    justify-self: end;
    margin-right: 4vw;
  }
}

@media only screen and (min-width: 1200px) {
  .pose {
    grid-column: 3 / span 1;
    max-width: 90px;
  }
}
@keyframes pose_move {
  0% {
    transform: translateY(-30vw);
    filter: brightness(80%);
    opacity: 0.8;
  }
  100% {
    transform: translateY(70vw);
    filter: brightness(60%);
    opacity: 0;
  }
}
@media only screen and (min-width: 600px) {
  @keyframes pose_move {
    0% {
      transform: translateY(-15vw);
      filter: brightness(100%);
      opacity: 0.8;
    }
    100% {
      transform: translateY(120vw);
      filter: brightness(60%);
      opacity: 0;
    }
  }
}

@media only screen and (min-width: 1100px) {
  @keyframes pose_move {
    0% {
      transform: translateY(-15vw);
      filter: brightness(100%);
      opacity: 0.8;
    }
    100% {
      transform: translateY(850px);
      filter: brightness(60%);
      opacity: 0;
    }
  }
}

.flaske {
  background-image: url(static/waterbottle.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 17vw;
  height: 17vw;
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
  z-index: 3;
  margin-left: 55vw;
  margin-top: 12vw;
  filter: brightness(60%);
  transform: rotate(20deg);
}
@media only screen and (min-width: 600px) {
  .flaske {
    width: 12vw;
    height: 15vw;
    z-index: 3;
    margin-left: 71vw;
    margin-top: -3vw;
    filter: brightness(60%);
    transform: rotate(40deg);
  }
}
@media only screen and (min-width: 1010px) {
  .flaske {
    width: 8vw;
    height: 8vw;
    z-index: 3;
    margin-left: 33vw;
    margin-top: 8vw;
    filter: brightness(80%);
    transform: rotate(40deg);
    grid-row: 6 / span 1;
  }
}
@media only screen and (min-width: 1200px) {
  .flaske {
    width: 126px;
    height: 126px;
    margin-left: 30vw;
    margin-top: 126px;
    filter: brightness(90%);
  }
}
@media only screen and (min-width: 1200px) {
  .flaske {
    margin-left: 405px;
  }
}

.knap {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 38vw;
  height: 15.5vw;
  z-index: 5;
  justify-self: center;
  margin-top: 3vw;
  opacity: 0.9;
  filter: drop-shadow(3px 3px 3px rgb(41, 41, 41));
  transition: 0.5s;
}
.start {
  display: none;
  background-image: url(static/start.svg);
}
.mobil_start {
  background-image: url(static/start.svg);
}

.genstart {
  background-image: url(static/retry.svg);
  opacity: 0;
  /* transition: 1; */
  pointer-events: none;
}

.knap:hover,
.submit:hover {
  opacity: 1;
  transform: scale(1.1);
}

@media only screen and (min-width: 600px) {
  .knap {
    grid-row: 3 / span 1;
    width: 25vw;
    height: 10vw;
    justify-self: center;
    margin-top: 35vw;
  }
}

@media only screen and (min-width: 1010px) {
  .knap {
    width: 18vw;
    height: 8vw;
    grid-column: 3 / span 1;
    margin-top: 2vw;
    z-index: 10;
    justify-self: center;
  }
  .mobil_start {
    display: none;
  }

  .start {
    display: initial;
    grid-row: 6 / span 1;
  }

  .genstart {
    grid-row: 4 / span 2;
    align-self: center;
  }
}
@media only screen and (min-width: 1200px) {
  .knap {
    width: 12vw;
    max-width: 162px;
    height: 6vw;
    max-height: 81px;
    grid-column: 4 / span 1;
  }
}

.tang {
  /* background-image: url(static/tang.svg); */
  background-image: url(static/seeweed_spritesheet.png);
  /* background-size: 100%; */
  background-size: 700% 100%;
  /* background-repeat: no-repeat; */
  animation-name: tang_move;
  animation-duration: 5s;
  animation-timing-function: steps(7);
  animation-iteration-count: infinite;
}

@keyframes tang_move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -700% 0%;
  }
}

.tang1 {
  grid-column: 1 / span 3;
  grid-row: 3 / span 2;
  width: 33vw;
  height: 28vw;
  margin-left: -10vw;
  margin-top: 38vw;
  opacity: 1;
  z-index: 3;
  filter: brightness(100%);
}

.tang2 {
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
  opacity: 0.9;
  z-index: 1;
  width: 20vw;
  height: 17vw;
  justify-self: end;
  margin-right: -5vw;
  margin-top: 37vw;
  transform: scaleX(-1);
  filter: brightness(115%);
}
.tang3 {
  display: none;
}

@media only screen and (min-width: 600px) {
  .tang1 {
    grid-column: 2 / span 1;
    grid-row: 3 / span 2;
    width: 13vw;
    height: 11vw;
    margin: 0;
    margin-top: 37vw;
    margin-left: 3vw;
    opacity: 0.95;
  }
  .tang2 {
    grid-row: 3 / span 1;
    opacity: 1;
    width: 10vw;
    height: 8vw;
    margin: 0;
    margin-top: 33.5vw;
    justify-self: end;
  }
  .tang3 {
    display: block;
    transform: scaleX(-1);
    width: 16vw;
    height: 13vw;
    z-index: 1;
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
    align-self: end;
    opacity: 0.85;
  }
}
@media only screen and (min-width: 1010px) {
  .tang1 {
    grid-column: 2 / span 1;
    grid-row: 6 / span 1;
    width: 16vw;
    height: 14vw;
    margin: 0;
    margin-top: 2vw;
    margin-right: 0vw;
    margin-left: 1.5vw;
    opacity: 1;
  }
  .tang2 {
    grid-column: 2 / span 1;
    grid-row: 6 / span 1;
    opacity: 0.75;
    width: 10vw;
    height: 8vw;
    margin: 0;
    margin-top: 2.5vw;
    margin-left: 27vw;
    justify-self: left;
  }
  .tang3 {
    width: 20vw;
    height: 17vw;
    z-index: 3;
    grid-column: 3 / span 1;
    grid-row: 6 / span 1;
    align-self: flex-start;
    margin: 0;
    margin-left: 28vw;
    margin-top: 3vw;
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .tang1 {
    margin-top: 0vw;
    width: 189px;
    height: 158px;
  }
  .tang2 {
    opacity: 0.7;
    margin-top: 3vw;
    margin-left: 27vw;
    justify-self: left;
    height: 123px;
    width: 147px;
  }
}

@media only screen and (min-width: 1350px) {
  .tang2 {
    margin-top: 40.5px;
    margin-left: 364.5px;
  }
}

.havbund {
  grid-column: 1 / span 3;
  grid-row: 4 / span 1;
  background-image: url(static/havbund.svg);
  background-size: 100%;
  width: 100vw;
  height: 27vw;
  opacity: 1;
  z-index: 0;
}

@media only screen and (min-width: 600px) {
  .havbund {
    grid-column: 1 / span 3;
    grid-row: 4 / span 1;
    height: 17vw;
  }
}
@media only screen and (min-width: 1010px) {
  .havbund {
    grid-column: 1 / span 4;
    grid-row: 6 / span 1;
    height: 21vw;
  }
}

@media only screen and (min-width: 1200px) {
  .havbund {
    height: 19vw;
    grid-column: 1 / span 5;
    max-height: 230px;
    max-width: 1350px;
  }
}

.koral {
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 2;
}

.koral1 {
  background-image: url(static/koral1.svg);
  grid-column: 1 / span 3;
  grid-row: 4 / span 1;
  width: 22vw;
  height: 19vw;
  margin-top: 11vw;
  margin-left: 13vw;
  filter: brightness(90%);
}

@media only screen and (min-width: 600px) {
  .koral1 {
    grid-column: 2 / span 3;
    grid-row: 4 / span 1;
    width: 18vw;
    height: 12vw;
    margin-top: 6vw;
    margin-left: 14vw;
  }
}
@media only screen and (min-width: 1010px) {
  .koral1 {
    grid-column: 1 / span 2;
    grid-row: 6 / span 1;
    width: 16vw;
    height: 9vw;
    margin-top: 12vw;
    margin-left: 1vw;
    filter: brightness(80%);
  }
}
@media only screen and (min-width: 1200px) {
  .koral1 {
    width: 193px;
    height: 109px;
    margin-top: 121px;
    margin-left: 12px;
    filter: brightness(80%);
  }
}

.koral2 {
  background-image: url(static/koral2.svg);
  width: 14vw;
  height: 16vw;
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
  justify-self: end;
  margin-top: -2vw;
  margin-right: 9vw;
  opacity: 0.8;
}
@media only screen and (min-width: 600px) {
  .koral2 {
    width: 10vw;
    height: 16vw;
    justify-self: end;
    margin-top: 0vw;
    margin-right: 13vw;
    opacity: 0.8;
  }
}
@media only screen and (min-width: 1010px) {
  .koral2 {
    width: 6vw;
    height: 9vw;
    justify-self: start;
    margin-top: 3vw;
    margin-right: 0vw;
    margin-left: 18vw;
    opacity: 0.8;
    grid-column: 2 / span 1;
    grid-row: 6 / span 1;
  }
}
@media only screen and (min-width: 1200px) {
  .koral2 {
    width: 72px;
    height: 108px;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 200px;
  }
}
.koral3 {
  background-image: url(static/koral3.svg);
  width: 18vw;
  height: 20vw;
  grid-column: 3 / span 1;
  grid-row: 4 / span 1;
  margin-left: -14vw;
  margin-top: 10.5vw;
  filter: brightness(90%);
}
@media only screen and (min-width: 600px) {
  .koral3 {
    grid-column: 3 / span 1;
    grid-row: 4 / span 1;
    margin-left: -13vw;
    margin-top: 6.5vw;
    filter: brightness(80%);
  }
}
@media only screen and (min-width: 1010px) {
  .koral3 {
    margin-left: 40vw;
    margin-top: 11vw;
    filter: brightness(90%);
    grid-column: 2 / span 1;
    grid-row: 6 / span 1;
    height: 10vw;
    width: 11vw;
  }
}

@media only screen and (min-width: 1100px) {
  .koral3 {
    margin-left: 45vw;
  }
}

@media only screen and (min-width: 1200px) {
  .koral3 {
    margin-top: 108px;
    margin-left: 47vw;
    width: 132px;
    height: 120px;
  }
}
@media only screen and (min-width: 1350px) {
  .koral3 {
    margin-left: 634.5px;
  }
}
@media only screen and (min-width: 1010px) {
  .koral4 {
    background-image: url(static/stor_koral.svg);
    width: 38vw;
    height: 68vw;
    grid-column: 3 / span 2;
    grid-row: 1 / 7;
    justify-self: end;
    margin-top: 2vw;
    opacity: 0.9;
  }
}
@media only screen and (min-width: 1200px) {
  .koral4 {
    width: 456px;
    height: 816px;
    grid-column: 4 / span 2;
    margin-top: 24px;
  }
}
.batteri {
  background-image: url(static/batteri.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 7vw;
  height: 8vw;
  grid-column: 1 / span 2;
  grid-row: 4 / span 1;
  z-index: 4;
  transform: rotate(-30deg);
  margin-top: 16vw;
  margin-left: 3vw;
  filter: brightness(90%);
}

@media only screen and (min-width: 600px) {
  .batteri {
    width: 5vw;
    height: 6.5vw;
    grid-column: 2 / span 2;
    z-index: 4;
    transform: rotate(-30deg);
    margin-top: 10vw;
    margin-left: 7vw;
    filter: brightness(80%);
  }
}

@media only screen and (min-width: 1010px) {
  .batteri {
    width: 3.5vw;
    height: 4.5vw;
    grid-column: 2 / span 1;
    grid-row: 6 / span 1;
    transform: rotate(-40deg);
    margin-top: 14.5vw;
    margin-left: 13vw;
    filter: brightness(85%);
  }
}

@media only screen and (min-width: 1200px) {
  .batteri {
    width: 35px;
    height: 40px;
    grid-row: 6 / span 1;
    grid-column: 3 / span 1;
    z-index: 4;
    margin-top: 160px;
    margin-left: 140px;
    transform: rotate(-35deg);
  }
}

@media only screen and (min-width: 600px) {
  .chokolade {
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
    background-image: url(static/chokoladeplast.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 10vw;
    height: 14vw;
    z-index: 2;
    margin-left: 50vw;
    margin-top: 8vw;
    opacity: 0.95;
    filter: brightness(90%);
  }
}
@media only screen and (min-width: 1010px) {
  .chokolade {
    grid-row: 6 / span 1;
    width: 10vw;
    height: 9vw;
    margin-left: 20vw;
    margin-top: 10vw;
    opacity: 0.9;
    margin-top: 11vw;
  }
}

@media only screen and (min-width: 1200px) {
  .chokolade {
    grid-row: 6 / span 1;
    width: 70px;
    height: 105px;
    margin-left: 38vw;
    margin-top: 128px;
    opacity: 0.9;
    grid-column: 3 / span 1;
    transform: rotate(10deg);
  }
}

@media only screen and (min-width: 1200px) {
  .chokolade {
    margin-left: 510px;
  }
}
@media only screen and (min-width: 1200px) {
  .can {
    background-image: url(static/daase.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100px;
    height: 90px;
    grid-row: 6 / span 1;
    grid-column: 3 / span 1;
    z-index: 4;
    margin-top: 90px;
    margin-left: 180px;
    filter: brightness(85%);
  }
}

.purple_box {
  grid-column: 1 / span 3;
  grid-row: 5 / span 1;
  width: 100vw;
  background-color: var(--color_purple);
  z-index: 3;
}
@media only screen and (min-width: 600px) {
  .purple_box {
    grid-row: 3 / span 1;
    width: 50vw;
    height: 17vw;
    margin-top: 10vw;
  }
}
@media only screen and (min-width: 1010px) {
  .purple_box {
    grid-row: 4 / span 1;
    width: 52vw;
    height: 10vw;
    margin-top: 4vw;
  }
}

@media only screen and (min-width: 1200px) {
  .purple_box {
    width: 45vw;
    height: 8.5vw;
    margin-top: 3vw;
    display: grid;
    grid-template-columns: 5vw 40.5px auto;
    max-height: 108px;
    max-width: 600px;
  }
}
.text2 {
  margin: 5vw;
  color: white;
  font-family: var(--font_primary);
  text-align: center;
  font-size: 7vw;
  font-weight: 400;
  /* max-height: 64px; */
  max-width: 473px;
}
@media only screen and (min-width: 600px) {
  .text2 {
    margin: 3vw 0;
    margin-left: 10vw;
    text-align: left;
    font-size: 3vw;
    width: 36vw;
  }
}
@media only screen and (min-width: 1010px) {
  .text2 {
    margin: 1.75vw 1.5vw 2.5vw 9.5vw;
    font-size: 2.6vw;
    width: 40vw;
  }
}
@media only screen and (min-width: 1200px) {
  .text2 {
    margin: 17.5px 20px 33.7px 0px;
    font-size: 29px;
    width: 37vw;
    grid-column: 3 / span 1;
  }
}

.text_extra {
  display: none;
  max-width: 595px;
}
@media only screen and (min-width: 1010px) {
  .text_extra {
    display: block;
    grid-column: 2 / span 1;
    grid-row: 5 / span 1;
    font-size: 2vw;
    margin: 3vw 5vw 0 4.5vw;
  }
}
@media only screen and (min-width: 1200px) {
  .text_extra {
    font-size: 20.5px;
    margin: 3vw 7vw 0 0vw;
    width: 44vw;
    margin-bottom: 3vw;
    grid-column: 3 / span 1;
  }
}

.lukknap {
  background-color: white;
  grid-column: 1 / span 1;
  grid-row: 1 / 1;
  justify-self: end;
  z-index: 20;
  width: 30px;
  height: 30px;
  padding: 6px;
  margin: 10px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  font-family: var(--font_primary);
}

.lukknap:hover {
  transform: scale(1.2);
}
@media only screen and (min-width: 1010px) {
  .lukknap {
    display: none;
  }
}

.container {
  position: fixed;
  /* top: 0; */
  display: grid;
  background-color: rgba(0, 0, 0, 0.85);
  grid-template-columns: 100vw;
  grid-template-rows: 100%;
  z-index: 5;
  min-height: 100%;
  opacity: 0;
  height: 0;
  pointer-events: none;
}

.container_content {
  grid-column: 1 / span 1;
  grid-row: 1 / 1;
  margin: 0 auto;
  /* margin-top: -8vw; */
  align-self: center;
  width: 375px;
  height: 667px;
}

.spil_forside {
  transition: 1.5s;
  /* width: 375px;
  height: 667px; */
  background-image: url(static/spilforside.svg);
  z-index: 5;
  opacity: 0;
}

.regler {
  background-image: url(static/regler.svg);
  background-size: 100%;
  /* width: 375px;
  height: 667px; */
  z-index: 4;
  transition: 1s;
}
#game_container {
  z-index: 3;
}

.gameover {
  background-image: url(static/gameover.svg);
  background-size: 100%;
  /* width: 375px;
  height: 667px; */
  z-index: 4;
  transition: 1.5s;
  opacity: 0;
  pointer-events: none;
}

.form {
  /* width: 375px;
  height: 667px; */
  background-color: var(--color_purple);
  z-index: 2;
  display: grid;
  grid-template-rows: 20px 230px 110px 50px 10px 50px 60px auto 20px;
  grid-template-columns: 12% 76% 12%;
}

@media only screen and (min-width: 1010px) {
  .container {
    display: contents;
    pointer-events: all;
  }

  .container_content {
    grid-column: 3 / span 1;
    grid-row: 1 / span 7;
    align-self: center;
    margin-bottom: 3vw;
    filter: drop-shadow(3px 3px 3px rgb(41, 41, 41));
  }

  .spil_forside {
    opacity: 1;
    pointer-events: none;
  }
  .regler {
    pointer-events: none;
  }

  #game_container {
    display: initial;
  }
  /* .form {
    z-index: 30;
  } */
}

@media only screen and (min-width: 1200px) {
  .container_content,
  #game_container {
    grid-column: 4 / span 1;
  }
}

.fat_yellow {
  color: var(--color_danskespil_yellow);
  font-weight: 700;
}
.italic {
  font-style: italic;
  font-weight: bold;
}

/* /section1 */
/* section2 */
.section2 {
  background-color: var(--color_darkest_blue);
  display: grid;
  grid-template-columns: 5vw auto 5vw;
  grid-template-rows: auto auto auto auto auto;
  max-width: 1350px;
  margin: 0 auto;
  overflow: hidden;
}
@media only screen and (min-width: 600px) {
  .section2 {
    grid-template-columns: 10vw 38vw 4vw 38vw 10vw;
    grid-template-rows: auto auto;
  }
}
@media only screen and (min-width: 1010px) {
  .section2 {
    grid-template-columns: 5vw 30vw 4vw auto 5vw;
    grid-template-rows: auto auto;
  }
}

@media only screen and (min-width: 1200px) {
  .section2 {
    grid-template-columns: 5vw 406px 4vw auto 5vw;
  }
}
.text {
  color: white;
  font-weight: 300;
  font-family: var(--font_primary);
}

.text3 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  font-size: 5.7vw;
}
@media only screen and (min-width: 600px) {
  .text3 {
    grid-column: 2 / span 3;
    font-size: 2.8vw;
    margin: 4vw 0;
  }
}
@media only screen and (min-width: 1010px) {
  .text3 {
    display: none;
  }
}
.streg {
  grid-column: 2 / span 1;
  width: 100%;
  height: 1px;
  background-color: var(--color_lightest_blue);
}

.streg1 {
  grid-row: 2 / span 1;
}

@media only screen and (min-width: 600px) {
  .streg1 {
    transform: rotate(90deg);
    transform-origin: center left;
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;
    width: 20vw;
  }
}
@media only screen and (min-width: 1010px) {
  .streg1 {
    grid-row: 1 / span 1;
    width: 11vw;
    margin: 3vw 0 4vw 0;
  }
}
@media only screen and (min-width: 1200px) {
  .streg1 {
    width: 80px;
    margin: 25px 0 4vw 0;
  }
}
.donation {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  text-align: center;
  color: var(--color_danskespil_yellow);
  font-family: var(--font_primary);
  font-weight: 300;
  font-size: 6vw;
}

.donation_text1 {
  margin-bottom: 0;
}
.donation_text2 {
  margin-top: 0;
}
.big {
  font-size: 20vw;
}
@media only screen and (min-width: 600px) {
  .donation {
    grid-row: 2 / span 1;
    font-size: 3.5vw;
    margin-top: 3vw;
  }
  .donation_text1 {
    margin-top: 0;
  }
  .big {
    font-size: 7vw;
  }
}
@media only screen and (min-width: 1010px) {
  .donation {
    grid-row: 1 / span 1;
    font-size: 2.5vw;
  }
  .big {
    font-size: 6vw;
  }
}

@media only screen and (min-width: 1200px) {
  .donation {
    font-size: 24px;
    margin-top: 25px;
  }
  .big {
    font-size: 54px;
  }
}
.streg2 {
  grid-row: 4 / span 1;
}
@media only screen and (min-width: 600px) {
  .streg2 {
    display: none;
  }
}
.text4 {
  grid-column: 2 / span 1;
  grid-row: 5 / span 1;
  color: white;
  font-family: var(--font_primary);
  width: 71vw;
  font-size: 5.7vw;
  font-weight: 300;
}
@media only screen and (min-width: 600px) {
  .text4 {
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
    width: 100%;
    font-size: 2.8vw;
    margin-top: 3vw;
  }
}
@media only screen and (min-width: 1010px) {
  .text4 {
    grid-row: 1 / span 1;
    width: 85%;
    font-size: 2.5vw;
    margin-left: 2.5vw;
  }
}

@media only screen and (min-width: 1200px) {
  .text4 {
    width: 70%;
    font-size: 24.5px;
    margin-left: 2.5vw;
    margin-top: 25px;
    max-width: 473px;
  }
}
.fat {
  font-weight: 700;
}

.trash {
  grid-column: 2 / span 1;
  grid-row: 5 / span 1;
  background-image: url(static/sixpackplast.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 25vw;
  height: 26vw;
  justify-self: end;
  transform: rotate(-95deg);
  margin: 10vw 0 7vw 0;
  filter: brightness(120%);
}

@media only screen and (min-width: 600px) {
  .trash {
    grid-column: 4 / span 2;
    grid-row: 2 / span 1;
    width: 15vw;
    height: 16vw;
    justify-self: left;
    margin-top: 8vw;
    margin-left: 28vw;
    margin-bottom: 3vw;
  }
}
@media only screen and (min-width: 1010px) {
  .trash {
    grid-row: 1 / span 1;
    width: 10vw;
    height: 10vw;
    margin-top: 4vw;
    margin-left: 45vw;
    margin-bottom: 0vw;
  }
}
@media only screen and (min-width: 1200px) {
  .trash {
    width: 90px;
    height: 90px;
    margin-top: 20px;
    margin-left: 470px;
    margin-bottom: 25px;
  }
}
/* /section2 */

/* form */

.float_container {
  border: solid 1px #ccc;
  position: relative;
  padding: 0 10px;
  background-color: white;
}
.float_container input {
  border: none;
  outline: 0;
  font-size: 16px;
  padding: 15px 0px;
  width: 100%;
}
.input_label {
  position: absolute;
  font-size: 16px;
  transform-origin: top left;
  transform: translate(0, 16px) scale(1);
  transition: all 0.1s ease-in-out;
  color: var(--color_purple);
}

.float_container.active label {
  transform: translate(0, 4px) scale(0.75);
}
.form_text1 {
  /* color: white; */
  font-size: 35px;
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  text-align: center;
  width: 250px;
  margin: 0 auto;
  /* font-weight: 500; */
  color: var(--color_danskespil_yellow);
  margin-top: 20px;
}

.form_text1 span {
  font-size: 100px;
  /* color: var(--color_danskespil_yellow); */
  font-weight: 900;
}

.form_text2 {
  color: white;
  font-size: 20px;
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  font-weight: 300;
  /* text-align: center; */
}

.form_text2 span {
  font-weight: normal;
}

.formfield1 {
  grid-row: 4 / span 1;
  grid-column: 2 / span 1;
}

.formfield2 {
  grid-row: 6 / span 1;
  grid-column: 2 / span 1;
}
.terms {
  grid-row: 7 / span 1;
  grid-column: 2 / span 1;
  color: white;
  font-weight: 300;
  font-style: italic;
  margin-top: 15px;
}

input.submit {
  border: none;
  margin: 0;
  text-decoration: none;
  background: none;
  color: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input.submit {
  background-image: url(static/submit.svg);
  background-size: 100%;
  grid-row: 8 / span 1;
  grid-column: 2 / span 1;
  margin-top: 30px;
  background-repeat: no-repeat;
  width: 38vw;
  height: 15.5vw;
  margin-top: 3vw;
  opacity: 0.9;
  filter: drop-shadow(3px 3px 3px rgb(41, 41, 41));
  transition: 0.5s;
  background-color: none;
  justify-self: center;
}

@media only screen and (min-width: 1010px) {
  input.submit {
    width: 18vw;
    height: 8vw;
  }
}
@media only screen and (min-width: 1010px) {
  input.submit {
    width: 162px;
    height: 81px;
    margin-top: 36px;
  }
}

.meddelelse {
  grid-column: 1 / span 3;
  grid-row: 1 / span 8;
  width: 375px;
  height: 667px;
  background-color: var(--color_spillehjoernet_blue);
  align-self: center;
  justify-self: center;
  z-index: 3;
  color: white;
  font-size: 30px;
  opacity: 0;
  pointer-events: none;
}
.meddelelse p {
  margin: 200px 40px 0 40px;
  text-align: center;
}

.terning {
  background-image: url(static/terning.svg);
  background-size: 100%;
  width: 150px;
  height: 150px;
  margin: 50px auto;
}
