body {
  margin: 0;
  padding: 0;
}
#game_container {
  /* height: 46.319vw;
  width: 26vw; */
  height: 667px;
  width: 375px;
  position: relative;
  overflow: hidden;
}
#score {
  position: absolute;
  z-index: 5;
  height: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.trashcan {
  flex-grow: 1;
  width: 60px;
  height: 60px;
  background-image: url(static/trashcan.svg);
  background-size: contain;
}

#score h1 {
  flex-grow: 1;
  margin: 0;
}

button {
  left: 40%;
  position: absolute;
  z-index: 5;
}

#forgrund {
  position: absolute;
}

#baggrund {
  position: absolute;
}
.element {
  position: absolute;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
}

#healthBar {
  right: 3px;
  top: 0px;
  width: 150px;
  height: 50px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.heart {
  flex-grow: 1;
}

#school_of_fish {
  position: absolute;
  width: 250px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: contain;
}

#main_character {
  bottom: 50px;
  left: 250px;
  position: absolute;
  width: 150px;
  height: 150px;
  background-image: url(static/fish_spritesheet_gul_ny.png);
  background-size: 400% 200%;
  animation-name: swim;
  animation-duration: 1.5s;
  animation-timing-function: steps(4);
  animation-iteration-count: infinite;
}

/* .main_fish_swimcycle {
  
} */

@keyframes swim {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 400% 0%;
  }
}

#seaweed {
  position: absolute;
  bottom: 46px;
  width: 100px;
  height: 83px;
  background-image: url(static/seeweed_spritesheet.png);
  background-size: 700% 100%;
  animation-name: float;
  animation-duration: 3s;
  animation-timing-function: steps(7);
  animation-iteration-count: infinite;
}

@keyframes float {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 700% 0%;
  }
}

.float_speed_1 {
  transition-timing-function: linear;
  transition-duration: 3s;
}
.float_speed_2 {
  transition-timing-function: linear;
  transition-duration: 2.6s;
}
.float_speed_3 {
  transition-timing-function: linear;
  transition-duration: 2.2s;
}
.float_speed_4 {
  transition-timing-function: linear;
  transition-duration: 1.8s;
}

.floatDown {
  transform: translateY(80vh);
}

.flipImage {
  transition-duration: 500ms;
}
